img{
position: fixed;
 width: 1300px;
 z-index: -10;
 opacity: 1;
}

html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 6px;
  
}
::-webkit-scrollbar-thumb{
  background-color: rgb(196, 194, 194);
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgb(168, 167, 167);
  border-radius: 7px;
}

  .back {
    width: 1300px; /* Adjust the width as needed */
    height: 700px; /* Adjust the height as needed */
    position: absolute;
    z-index: -1;
    background-color: #A7A598;
  }
  .back p{
    position: relative;
    top: 520px;
    left: 309px;
    z-index: 2px;
    font-family: "Shippori Antique B1", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 3rem;
    color: #000000;

  }
  .content {
    position: relative;
    z-index: 1;
    padding: 20px;
  }
  body, ul {
    margin: 0;
    padding: 0;
  }



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Style the navigation bar */
nav {
  
 z-index: 5px;
  
}

/* Style the list items */
nav ul {
  overflow: hidden; /* Hide overflowing content */
}

nav ul li {
  float: left; /* Float list items side by side */
  
}

/* Style the links */
nav ul li a {
  display: block; /* Display links as block elements */
  color: rgb(0, 0, 0); /* Text color */
  text-decoration: none; /* Remove underline from links */
  padding: 9px 12px; /* Add padding */
  margin-top: 3px;
  margin-left:2px ;
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:2rem;
  z-index: 2;
}

/* Change link color on hover */
nav ul li a:hover {
  background-color: #e5e5e5; /* Darker background color */
  border-radius: 50px;
  transition: background-color 0.5s ease-in-out;

}

    
  .main{

    color: rgb(0, 0, 0); 
    text-align: center;
  }
  .typing-text {
    position: relative  ;  
    font-size: 2rem;
    font-family: Arial, sans-serif;
    margin-bottom: 10px; 
    color: rgb(0, 0, 0);
    text-align: center;
    top: -80px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;

  }
.nav_logo{
  position: absolute;
  color: rgb(0, 0, 0);
  z-index: 100;
  font-size: .7rem;
  top: -10px;
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
  margin-bottom:.2px;
}
.information {
  
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.content img{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0; /* Remove default margin */
  padding: 50px 350px;
  
}
.content p{

  
}



.content h1 {
  flex: 1; /* Allow content to grow to fill available space */
  font-size: 40px;
  margin-bottom: 10px;
  position: absolute;
  top: 600px;
  right: 580px;
}
.content p {
  flex: 3; /* Allow content to grow to fill available space */
  font-size: 24px;
  line-height: 1.5;
  margin-top: 0px;
  background-color: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: center;
  padding: 15px;
  opacity: .8 ;
}
.portfolio{
  
  
}
